.ChatWebSocket {
    .ChatWebSocketContent {
      padding: 0px 10px;
      position:relative;
      background: rgba(19, 18, 18, 0.664);
      display: flex;
      .content {
        width: 65%;
        padding:0;
        h1 {
          text-align: center;
          font-size: 28px;
          font-weight: 300;
          border-bottom: 1px solid white;
          padding: 14px;
          position: sticky;
          top: 0;
          margin-bottom: 20px;
          background: #dedede48;
        }
        .sendingMess {
          background-color: rgba(153, 139, 139, 0.584);
          padding: 20px 30px;
          border-radius: 20px;
          position: fixed;
          width: 50%;
          bottom: 40px;
          display: flex;
          align-items: center;
          gap: 30px;
          input {
              width: 70%;
              height: 40px;
              color: rgb(4, 4, 4);
              font-size: 20px;
              padding: 10px 16px;
              border: none;
              outline: none;
              border-radius: 12px;
              cursor: pointer;
              background-color: rgba(255, 255, 255, 0.414);
          }
          button {
              transition: .2s;
              border: 3px solid white;
              font-weight: 700;
              font-style: 20px;
              padding: 5px 15px;
              border-radius: 10px;
          }
          button:hover {
              transform: scale(1.1);
          }
        }
        .messContent {
          display: flex;
          flex-direction: column;
          gap: 30px;
          padding: 20px 0 200px 0;
          .message {
            display: flex;
            gap: 10px;
            align-items: flex-end;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            .messageContent {
              background: rgb(44, 43, 39);
              padding: 5px 20px 5px 10px;
              border-radius: 19px;
              border-bottom-left-radius: 0;
              h3 {
                  font-size: 15px;
                  color: aqua;
                  margin-bottom: 6px;
              }
            }
          }
        }
      }
    }
  }